<p>login works!</p>
<form action="" [formGroup]="data"(ngSubmit)="login()" >
    
    <input type="text" formControlName="usuario">
    <input type="text" formControlName="contrasena">
    <button type="submit"> Enviar</button>
</form>



<form action="" [formGroup]="dataSignup"(ngSubmit)="signup()" >
    
    <input type="text" formControlName="username">
    <input type="text" formControlName="email">
    <input type="text" formControlName="password">

    <input type="text" formControlName="password_confirmation">
    <button type="submit"> Enviar</button>
</form>