
<button mat-button [matMenuTriggerFor]="aboveMenu">Conteo</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item routerLink="gastos">Gastos</button>
  <button mat-menu-item routerLink="ingresos">Ingresos</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Estadisticas</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item routerLink="total">Estadisticas</button>
  <button mat-menu-item routerLink="tareas">Tareas</button>
</mat-menu>
<!-- 
<button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">After</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->
<router-outlet></router-outlet>
<!-- <app-ingresos></app-ingresos> -->